Flask
Flask-WTF
WTForms
pandas
openpyxl               
xlrd                   
matplotlib             
seaborn                
plotly                 
scikit-learn           
joblib                 
statsmodels   
numpy 
streamlit
scipy
gunicorn