Flask~=3.1.1
Flask-WTF
WTForms~=3.2.1
pandas~=2.3.1
openpyxl               
xlrd                   
matplotlib~=3.10.5
seaborn~=0.13.2
plotly                 
statsmodels   
numpy~=2.3.2
gunicorn
MarkupSafe~=3.0.2
biopython~=1.85
Werkzeug~=3.1.3